<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal de Suscripciones</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="area-privada" style="color:black; font-size: 35px;" >SUBHUB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a routerLink="/mis-suscripciones" class="nav-link" style="color:black; font-size: 25px;">Mis suscripciones</a>
        </li>
        

        <li class="nav-item">
          <a class="nav-link" href="#" style="color:black; font-size: 25px;">Edita tu perfil</a>
        </li>
      </ul>
    </div>
  </nav>

  <br>
  <div class="flex-container overflow-hidden">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-10 text-center">
        <h1>¡Descubre Stylebox, la suscripción perfecta para los amantes de la moda y la belleza!</h1>
        <p>Nuestra plataforma de suscripciones te ofrece una experiencia única al recibir cada mes una cuidadosa selección de productos de ropa, maquillaje y perfume, todo adaptado a tus preferencias personales.</p>
        <p>¿Qué nos hace especiales? Nuestro algoritmo inteligente analiza tus gustos y preferencias para ofrecerte los productos que más se ajusten a tu estilo. Así, te garantizamos una experiencia personalizada y emocionante en cada entrega. Olvídate de buscar constantemente nuevas tendencias o productos, nosotros nos encargamos de seleccionarlos para ti.</p>
      
        <div class="subscription-types">
          <div class="subscription-type">
            <h3>Premium</h3>
            <p>Incluye dos tipos de producto (calidad más elevada y novedades)</p>
            <a href="#" class="cta-button">Suscribirse</a>
          </div>
          <div class="subscription-type">
            <h3>Estándar</h3>
            <p>Incluye dos tipos de producto (calidad media)</p>
            <a href="/cuestionario" class="cta-button">Suscribirse</a>
          </div>
          <div class="subscription-type">
            <h3>Básica</h3>
            <p>Solo incluye maquillaje y perfumería</p>
            <a href="#" class="cta-button">Suscribirse</a>
          </div>
        </div>
      
        <p>Además, en <span class="highlight">Stylebox</span> valoramos tu opinión y elección. Cada mes, tendrás la oportunidad de personalizar tu caja seleccionando los productos que más te gusten entre las opciones que te ofrecemos. Queremos asegurarnos de que te enamores de cada producto que recibes.</p>
      
        <p>No te pierdas la oportunidad de unirte a nuestra comunidad de suscriptores satisfechos y descubrir un mundo lleno de estilo y belleza. ¡Suscríbete a <span class="highlight">Stylebox</span> hoy mismo y recibe mensualmente una caja llena de sorpresas que te harán sentir especial!</p>
      <br></div>

      <div class="row justify-content-center align-items-center">
        <div class="col-md-3">
          <img src="\assets\Images\moda_personas.jpg" alt="Foto 1" class="img-fluid img-width">
        </div>
        <div class="col-md-3">
          <img src="\assets\Images\colonias.jpg" alt="Foto 2" class="img-fluid img-width">
        </div>
        <div class="col-md-3">
          <img src="\assets\Images\maquillaje.jpg" alt="Foto 3" class="img-fluid img-width">
        </div>
      </div>
    </div>
  </div>

  <br>
  <footer class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Portal de Suscripciones &copy; 2023</p>
        </div>
        <div class="col-md-6 text-right">
          <a href="#">Términos y Condiciones</a>
        </div>
      </div>
    </div>
  </footer>