<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de suscripciones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="area-privada" style="color:black; font-size: 35px;" >SUBHUB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
    
            <li class="nav-item">
              <a routerLink="/mis-suscripciones" class="nav-link" style="color:black; font-size: 25px;">Mis suscripciones</a>
            </li>
            
    
            <li class="nav-item">
              <a class="nav-link" href="#" style="color:black; font-size: 25px;">Edita tu perfil</a>
            </li>
          </ul>
        </div>
      </nav>

    <div class="fluid-container overflow-hidden">
        <div class="row mt-3 justify-content-center" >
          <div class="col-lg-2 col-md-4 col-sm-6 ">
            <div class="card card-height">
              <img src="assets\Images\stylebox.jpg" class="card-img-top img-size" alt="Stylebox">
              <div class="card-body">
                <h5 class="card-title">Stylebox</h5>
                <p class="card-text">Recibe cada mes una selección de productos de belleza y cuidado personal.</p>
                <a href="/stylebox-info" class="btn btn-primary">+ Info</a>
                <a href="#" class="btn btn-link">¿Tienes preguntas?</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card card-height">
              <img src="assets\Images\comics.jpg" class="card-img-top img-size" alt="Comics Subscription">
              <div class="card-body">
                <h5 class="card-title">Comics Subscription</h5>
                <p class="card-text">Recibe una selección de cómics populares y emocionantes cada mes.</p>
                <a href="#" class="btn btn-primary" style="position: absolute; bottom: 10px;">+ Info</a>
                <a href="#" class="btn btn-link" style="position: absolute; bottom: 10px; left: 100px;">¿Tienes preguntas?</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card card-height ">
              <img src="assets\Images\perfumes.jpg" class="card-img-top img-size" alt="Perfume Subscription">
              <div class="card-body">
                <h5 class="card-title">Perfume Subscription</h5>
                <p class="card-text">Explora nuevas fragancias cada mes y encuentra tu aroma perfecto.</p>
                <a href="#" class="btn btn-primary" style="position: absolute; bottom: 10px;">+ Info</a>
                <a href="#" class="btn btn-link" style="position: absolute; bottom: 10px; left: 100px;">¿Tienes preguntas?</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card card-height">
              <img src="assets\Images\decoracion.jpg" class="card-img-top img-size" alt="Clothing Subscription">
              <div class="card-body">
                <h5 class="card-title">Home Decor Subscription</h5>
                <p class="card-text">Recibe accesorios y elementos decorativos únicos para embellecer tu hogar.</p>
                <a href="#" class="btn btn-primary" style="position: absolute; bottom: 10px;">+ Info</a>
                <a href="#" class="btn btn-link" style="position: absolute; bottom: 10px; left: 100px;">¿Tienes preguntas?</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card card-height">
              <img src="assets\Images\tecnologia.jpg" class="card-img-top img-size" alt="Tech Subscription">
              <div class="card-body" >
                <h5 class="card-title">Tech Subscription</h5>
                <p class="card-text">Explora los últimos gadgets y dispositivos tecnológicos cada mes.</p>
                <a href="#" class="btn btn-primary" style="position: absolute; bottom: 10px;">+ Info</a>
                <a href="#" class="btn btn-link" style="position: absolute; bottom: 10px; left: 100px;">¿Tienes preguntas?</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 justify-content-center">
          <!-- Repite el bloque anterior para agregar más tarjetas -->
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card card-height">
              <img src="assets\Images\snacks.jpg" class="card-img-top img-size" alt="Snacks Subscription">
              <div class="card-body">
                <h5 class="card-title">Snacks Subscription</h5>
                <p class="card-text">Descubre deliciosos snacks y golosinas de todo el mundo cada mes.</p>
                <a href="#" class="btn btn-primary" style="position: absolute; bottom: 10px;">+ Info</a>
                <a href="#" class="btn btn-link" style="position: absolute; bottom: 10px; left: 100px;">¿Tienes preguntas?</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card card-height">
              <img src="assets\Images\cafe.jpg" class="card-img-top img-size" alt="Coffee Subscription">
              <div class="card-body">
                <h5 class="card-title">Coffee Subscription</h5>
                <p class="card-text">Disfruta de una variedad de café premium de todo el mundo en tu puerta cada mes.</p>
                <a href="#" class="btn btn-primary" >+ Info</a>
                <a href="#" class="btn btn-link" >¿Tienes preguntas?</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card card-height">
              <img src="assets\Images\plantas.jpg" class="card-img-top img-size" alt="Plant Subscription">
              <div class="card-body">
                <h5 class="card-title">Plant Subscription</h5>
                <p class="card-text">Embellece tu hogar con una selección de plantas exóticas y hermosas cada mes.</p>
                <a href="#" class="btn btn-primary" style="position: absolute; bottom: 10px;">+ Info</a>
                <a href="#" class="btn btn-link" style="position: absolute; bottom: 10px; left: 100px;">¿Tienes preguntas?</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card card-height">
              <img src="assets\Images\videojuegos.jpg" class="card-img-top img-size" alt="Gaming Subscription">
              <div class="card-body">
                <h5 class="card-title">Gaming Subscription</h5>
                <p class="card-text">Descubre nuevos juegos emocionantes y accesorios de gaming cada mes.</p>
                <a href="#" class="btn btn-primary" style="position: absolute; bottom: 10px;">+ Info</a>
                <a href="#" class="btn btn-link" style="position: absolute; bottom: 10px; left: 100px;">¿Tienes preguntas?</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card card-height">
              <img src="assets\Images\libros.jpg" class="card-img-top img-size" alt="Book Subscription">
              <div class="card-body">
                <h5 class="card-title">Book Subscription</h5>
                <p class="card-text">Sumérgete en historias fascinantes con una selección de libros cada mes.</p>
                <a href="#" class="btn btn-primary" style="position: absolute; bottom: 10px;">+ Info</a>
                <a href="#" class="btn btn-link" style="position: absolute; bottom: 10px; left: 100px;">¿Tienes preguntas?</a>
              </div>
            </div>
          </div>
          <div class="row mt-3 justify-content-center">
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card card-height">
              <img src="assets\Images\fitness.jpg" class="card-img-top img-size" alt="Fitness Subscription">
              <div class="card-body">
                <h5 class="card-title">Fitness Subscription</h5>
                <p class="card-text">Mantente en forma y saludable con una selección de productos de fitness cada mes.</p>
                <a href="#" class="btn btn-primary" style="position: absolute; bottom: 10px;">+ Info</a>
                <a href="#" class="btn btn-link" style="position: absolute; bottom: 10px; left: 100px;">¿Tienes preguntas?</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card card-height">
              <img src="assets\Images\manualidades.jpg" class="card-img-top img-size" alt="Crafts Subscription">
              <div class="card-body">
                <h5 class="card-title">Crafts Subscription</h5>
                <p class="card-text">Despierta tu creatividad con proyectos de manualidades y arte en cada caja.</p>
                <a href="#" class="btn btn-primary" style="position: absolute; bottom: 10px;">+ Info</a>
                <a href="#" class="btn btn-link" style="position: absolute; bottom: 10px; left: 100px;">¿Tienes preguntas?</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card card-height">
              <img src="assets\Images\vinos.jpg" class="card-img-top img-size" alt="Wine Subscription">
              <div class="card-body">
                <h5 class="card-title">Wine Subscription</h5>
                <p class="card-text">Descubre y disfruta de exquisitos vinos seleccionados por expertos cada mes.</p>
                <a href="#" class="btn btn-primary" style="position: absolute; bottom: 10px;">+ Info</a>
                <a href="#" class="btn btn-link" style="position: absolute; bottom: 10px; left: 100px;">¿Tienes preguntas?</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card card-height">
              <img src="assets\Images\perros.jpg" class="card-img-top img-size" alt="Pet Subscription">
              <div class="card-body">
                <h5 class="card-title">Pet Subscription</h5>
                <p class="card-text">Consiente a tu mascota con una selección de productos y juguetes cada mes.</p>
                <a href="#" class="btn btn-primary">+ Info</a>
                <a href="#" class="btn btn-link">¿Tienes preguntas?</a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <div class="card card-height">
              <img src="assets\Images\chocolates.jpg" class="card-img-top img-size" alt="Chocolate Subscription">
              <div class="card-body">
                <h5 class="card-title">Chocolate Subscription</h5>
                <p class="card-text">Disfruta de los mejores chocolates y dulces del mundo en cada entrega.</p>
                <a href="#" class="btn btn-primary" style="position: absolute; bottom: 10px;">+ Info</a>
                <a href="#" class="btn btn-link" style="position: absolute; bottom: 10px; left: 100px;">¿Tienes preguntas?</a>>
              </div>
            </div>
          </div>
        </div>
    </div>
      </div>
      