<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal de Suscripciones</title>
  <link rel="stylesheet" href="./look1.component.css">
  
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="area-privada">SUBHUB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a routerLink="/mis-suscripciones" class="nav-link">Mis suscripciones</a>
        </li>
        

        <li class="nav-item">
          <a class="nav-link" href="#">Edita tu perfil</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1 class="titulo">Escoge el look que mejor represente</h1>
  
  <div class="container my-5">
    
    <div class="container">
        <a href="/look2" >
          <img src="assets\Images\casual-day.jpeg"  class="image1"  alt="Imagen 1">
        </a>
        <a href="/look2" >
          <img src="assets\Images\classic-day.jpeg" class="image1" alt="Imagen 2">
        </a>
        <a href="/look2">
          <img src="assets\Images\forward-day.jpeg" class="image1" alt="Imagen 3">
        </a>
      </div>
      
  </div>
  <div class="titulo">
    <a href="/look2" class="btn btn-primary">Me gustan todos los looks</a>
  </div>

  <footer class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Portal de Suscripciones &copy; 2023</p>
        </div>
        <div class="col-md-6 text-right">
          <a href="#">Términos y Condiciones</a>
        </div>
      </div>
    </div>
  </footer>