<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Proyecto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Gabriel</th>
      <td>SUBHUB</td>
    </tr>
    <tr>
      <th scope="row">Abdel</th>
      <td>SUBHUB</td>
    </tr>
    <tr>
      <th scope="row">He</th>
      <td>SUBHUB</td>
    </tr>
    <tr>
      <th scope="row">Adrián</th>
      <td>SUBHUB</td>
    </tr>
  </tbody>
</table>

<!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Action
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>