<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de suscripciones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="area-privada" style="color:black; font-size: 35px;" >SUBHUB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
    
            <li class="nav-item">
              <a routerLink="/mis-suscripciones" class="nav-link" style="color:black; font-size: 25px;">Mis suscripciones</a>
            </li>
            
    
            <li class="nav-item">
              <a class="nav-link" href="#" style="color:black; font-size: 25px;">Edita tu perfil</a>
            </li>
          </ul>
        </div>
      </nav>

    <div class="fluid-container overflow-hidden">
        <div class="row mt-3 justify-content-center" >
          <div class="col-lg-2 col-md-4 col-sm-6 ">
            <div class="card card-height">
              <img src="assets\Images\stylebox.jpg" class="card-img-top img-size" alt="Stylebox">
              <div class="card-body">
                <h5 class="card-title">Stylebox</h5>
                <p class="card-text">Recibe cada mes una selección de productos de belleza y cuidado personal.</p>
                <a href="/stylebox" class="btn btn-primary">ACCEDER</a>
              </div>
            </div>
          </div>
          </div>
    </div>