<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StyleBox</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <style>
    /* Style for the header */
    .header {
      background-color: #007bff;
      color: #fff;
      padding: 10px;
    }

    /* Style for the main section */
    .main-section {
      padding: 50px;
    }

    /* Style for the products section */
    .products-section {
      margin-top: 30px;
    }

    /* Style for the buttons */
    .btn-primary {
      margin-right: 10px;
    }

    /* Style for the footer */
    .footer {
      background-color: #f8f9fa;
      padding: 10px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="area-privada" style="color:black; font-size: 35px;" >SUBHUB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a routerLink="/mis-suscripciones" class="nav-link" style="color:black; font-size: 25px;">Mis suscripciones</a>
        </li>
        

        <li class="nav-item">
          <a class="nav-link" href="#" style="color:black; font-size: 25px;">Edita tu perfil</a>
        </li>
      </ul>
    </div>
  </nav>
    <!-- Header -->
    <header class="header text-center" style="background-color: #e84a5f;;">
      <h1>StyleBox</h1>
    </header>
  
    <!-- Main Section -->
    <section class="main-section">
      <div class="flex-container">
  
        <!-- Ropa Section -->
        <div class="row">
          <div class="col-12 mb-5">
            <h2>Ropa - 2 productos a selecionar</h2>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa1.jpg" alt="Producto 1">
              <div class="card-body">
                <h5 class="card-title">Producto 1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto1">
                <label class="form-check-label" for="ropa-producto1">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa2.jpg" alt="Producto 2">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto2">
                <label class="form-check-label" for="ropa-producto2">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa2.jpg" alt="Producto 2">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto2">
                <label class="form-check-label" for="ropa-producto2">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa2.jpg" alt="Producto 2">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto2">
                <label class="form-check-label" for="ropa-producto2">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa2.jpg" alt="Producto 2">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto2">
                <label class="form-check-label" for="ropa-producto2">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa2.jpg" alt="Producto 2">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto2">
                <label class="form-check-label" for="ropa-producto2">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa2.jpg" alt="Producto 2">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto2">
                <label class="form-check-label" for="ropa-producto2">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa2.jpg" alt="Producto 2">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto2">
                <label class="form-check-label" for="ropa-producto2">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa2.jpg" alt="Producto 2">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto2">
                <label class="form-check-label" for="ropa-producto2">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa2.jpg" alt="Producto 2">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto2">
                <label class="form-check-label" for="ropa-producto2">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa2.jpg" alt="Producto 2">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto2">
                <label class="form-check-label" for="ropa-producto2">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa2.jpg" alt="Producto 2">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto2">
                <label class="form-check-label" for="ropa-producto2">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa2.jpg" alt="Producto 2">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto2">
                <label class="form-check-label" for="ropa-producto2">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa2.jpg" alt="Producto 2">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto2">
                <label class="form-check-label" for="ropa-producto2">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa2.jpg" alt="Producto 2">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto2">
                <label class="form-check-label" for="ropa-producto2">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="card">
              <img class="card-img-top" src="ropa2.jpg" alt="Producto 2">
              <div class="card-body">
                <h5 class="card-title">Producto 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <input class="form-check-input" type="checkbox" value="" id="ropa-producto2">
                <label class="form-check-label" for="ropa-producto2">
                  Seleccionar
                </label>
              </div>
            </div>
          </div>
        </div>


          <!-- Colonias Section -->
            <div class="row">
                <div class="col-12 mb-5">
                <h2>Colonia - 1 producto a seleccionar</h2>
                </div>
                <div class="col-md-3 mb-4">
                <div class="card">
                    <img class="card-img-top" src="ropa1.jpg" alt="Producto 1">
                    <div class="card-body">
                    <h5 class="card-title">Producto 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <input class="form-check-input" type="checkbox" value="" id="ropa-producto1">
                    <label class="form-check-label" for="ropa-producto1">
                        Seleccionar
                    </label>
                    </div>
                </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="ropa1.jpg" alt="Producto 1">
                        <div class="card-body">
                        <h5 class="card-title">Producto 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <input class="form-check-input" type="checkbox" value="" id="ropa-producto1">
                        <label class="form-check-label" for="ropa-producto1">
                            Seleccionar
                        </label>
                        </div>
                    </div>
                    </div>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="ropa1.jpg" alt="Producto 1">
                        <div class="card-body">
                        <h5 class="card-title">Producto 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <input class="form-check-input" type="checkbox" value="" id="ropa-producto1">
                        <label class="form-check-label" for="ropa-producto1">
                            Seleccionar
                        </label>
                        </div>
                    </div>
                    </div>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="ropa1.jpg" alt="Producto 1">
                        <div class="card-body">
                        <h5 class="card-title">Producto 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <input class="form-check-input" type="checkbox" value="" id="ropa-producto1">
                        <label class="form-check-label" for="ropa-producto1">
                            Seleccionar
                        </label>
                        </div>
                    </div>
                    </div>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="ropa1.jpg" alt="Producto 1">
                        <div class="card-body">
                        <h5 class="card-title">Producto 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <input class="form-check-input" type="checkbox" value="" id="ropa-producto1">
                        <label class="form-check-label" for="ropa-producto1">
                            Seleccionar
                        </label>
                        </div>
                    </div>
                    </div>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="ropa1.jpg" alt="Producto 1">
                        <div class="card-body">
                        <h5 class="card-title">Producto 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <input class="form-check-input" type="checkbox" value="" id="ropa-producto1">
                        <label class="form-check-label" for="ropa-producto1">
                            Seleccionar
                        </label>
                        </div>
                    </div>
                    </div>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="ropa1.jpg" alt="Producto 1">
                        <div class="card-body">
                        <h5 class="card-title">Producto 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <input class="form-check-input" type="checkbox" value="" id="ropa-producto1">
                        <label class="form-check-label" for="ropa-producto1">
                            Seleccionar
                        </label>
                        </div>
                    </div>
                    </div>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="ropa1.jpg" alt="Producto 1">
                        <div class="card-body">
                        <h5 class="card-title">Producto 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <input class="form-check-input" type="checkbox" value="" id="ropa-producto1">
                        <label class="form-check-label" for="ropa-producto1">
                            Seleccionar
                        </label>
                        </div>
                    </div>
                    </div>
            </div>
            
  
        <!-- Buttons Section -->
        <div class="row justify-content-center mt-5">
          <div class="col-md-12">
            <div class="text-center">
              <a href="#" class="btn btn-primary">Gestionar Monedero Virtual</a>
              <a href="#" class="btn btn-primary">Agregar al Monedero Virtual</a>
              <a href="#" class="btn btn-primary">Historial de Pedidos</a>
              <a href="#" class="btn btn-primary">Editar Preferencias</a>
            </div>
          </div>
        </div>
  
      </div>
    </section>
  
    <!-- Footer -->
    <footer class="footer text-center">
      <p>&copy; 2023 StyleBox. All Rights Reserved.</p>
    </footer>
  
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js"
      integrity="sha384-JpssF+7VAgG0cvBLi7r3q+CXDd7yQ2fhRrzCf7JjPp+TU9cZl3mwoTCrJq3m+ivD"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  </body>
  </html>